<!-- <div class="row">
    <div class="col-3">
        <h3>AAB201</h3>
        <br>
        <% persons1.forEach( function(model) { %>
        <div class="card col-12">

            <a href="/person/view/<%= model.id %>">
                <%=model.EventName %>
            </a>
            <div class="row">
                <div class="card col-6">
                    <img src="<%= model.IamgeURL %>" style="width:100%">

                </div>
                <div class="card col-6">
                    <%= model.ShortDescription %>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    <div class="col-3">
        <h3>A</h3>
        <br>
        <% persons2.forEach( function(model) { %>
        <div class="card col-12">

            <a href="/person/view/<%= model.id %>">
                <%=model.EventName %>
            </a>
            <div class="row">
                <div class="card col-6">
                    <img src="<%= model.IamgeURL %>" style="width:100%">

                </div>
                <div class="card col-6">
                    <%= model.ShortDescription %>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    <div class="col-3">
        <h3>A</h3>
        <br>
        <% persons3.forEach( function(model) { %>
        <div class="card col-12">

            <a href="/person/view/<%= model.id %>">
                <%=model.EventName %>
            </a>
            <div class="row">
                <div class="card col-6">
                    <img src="<%= model.IamgeURL %>" style="width:100%">

                </div>
                <div class="card col-6">
                    <%= model.ShortDescription %>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    <div class="col-3">
        <h3>A</h3>
        <br>
        <% persons4.forEach( function(model) { %>
        <div class="card col-12">

            <a href="/person/view/<%= model.id %>">
                <%=model.EventName %>
            </a>
            <div class="row">
                <div class="card col-6">
                    <img src="<%= model.IamgeURL %>" style="width:100%">

                </div>
                <div class="card col-6">
                    <%= model.ShortDescription %>
                </div>
            </div>
        </div>
        <% }); %>

    </div>
</div> -->